<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.user.mapper.AuthenticationApplyMapper">
	<resultMap id="AppUAuthenticationApplyMap" type="com.blockchain.server.user.entity.AuthenticationApply">
		<result property="realName" column="real_name"/>
		<result property="createTime" column="create_time"/>
		<result property="fileUrl2" column="file_url2"/>
		<result property="fileUrl1" column="file_url1"/>
		<result property="modifyTime" column="modify_time"/>
		<result property="fileUrl3" column="file_url3"/>
		<result property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="idNumber" column="id_number"/>
		<result property="userId" column="user_id"/>
		<result property="status" column="status"/>
	</resultMap>
	<sql id="table_name">app_u_authentication_apply</sql>

	<select id="judgeAuthentication" parameterType="java.lang.String" resultType="java.lang.String">
		select status
		from
		<include refid="table_name"/>
		where user_id = #{userId}
		order by modify_time desc
		limit 1
	</select>
</mapper>