<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.user.mapper.UserInfoMapper">
    <resultMap id="BaseMap" type="com.blockchain.server.user.entity.UserInfo">
        <result property="modifyTime" column="modify_time"/>
        <result property="createTime" column="create_time"/>
        <result property="googleAuth" column="google_auth"/>
        <result property="grade" column="grade"/>
        <result property="randomNumber" column="random_number"/>
        <result property="id" column="id"/>
        <result property="lowAuth" column="low_auth"/>
        <result property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="highAuth" column="high_auth"/>
        <result property="incrCode" column="incr_code"/>
    </resultMap>
    <sql id="table_name">dapp_u_user_info</sql>

    <select id="selectByUserId" resultMap="BaseMap">
        select * from
        <include refid="table_name"/>
        where user_id = #{userId}
    </select>
</mapper>