<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.tron.mapper.TronConfigWalletParamMapper">
	<resultMap id="configWalletMap" type="com.blockchain.server.tron.entity.TronConfigWalletParam">
		<result property="id" column="id"/>
		<result property="moduleType" column="module_type"/>
		<result property="paramName" column="param_name"/>
		<result property="paramValue" column="param_value"/>
		<result property="paramDescr" column="param_descr"/>
		<result property="status" column="status"/>
	</resultMap>

	<sql id="tableName">config_wallet_param</sql>
	


</mapper>