<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.cct.mapper.ConfigMapper">

    <sql id="table">app_cct_config</sql>

    <resultMap id="ConfigMap" type="com.blockchain.server.cct.entity.Config">
        <id property="id" column="id"/>
        <result property="dataKey" column="data_key"/>
        <result property="dataTag" column="data_tag"/>
        <result property="dataValue" column="data_value"/>
        <result property="dataStatus" column="data_status"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectByKeyAndStatus" resultMap="ConfigMap">
        SELECT * FROM
        <include refid="table"/>
        WHERE
        data_key = #{key}
        AND data_status = #{status}
    </select>

    <select id="selectByKey" resultMap="ConfigMap">
        SELECT * FROM
        <include refid="table"/>
        WHERE
        data_key = #{key}
    </select>

</mapper>