<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.teth.mapper.EthApplicationMapper">
	<resultMap id="EthApplicationMap" type="com.blockchain.server.teth.entity.EthApplication">
		<result property="appName" column="app_name"/>
		<result property="appId" column="app_id"/>
	</resultMap>

</mapper>