<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.otc.mapper.AppealMapper">

    <sql id="table">otc_appeal</sql>

    <resultMap id="AppealMap" type="com.blockchain.server.otc.entity.Appeal">
        <id property="id" column="id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
    </resultMap>


    <select id="selectByOrderNumber" resultType="com.blockchain.server.otc.entity.Appeal">
        SELECT * FROM
        <include refid="table"/>
        WHERE order_number = #{orderNumber}
    </select>

</mapper>