<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.otc.mapper.AppealImgMapper">
    <resultMap id="AppealImgMap" type="com.blockchain.server.otc.entity.AppealImg">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="appealDetailId" column="appeal_detail_id"/>
        <result property="appealImgUrl" column="appeal_img_url"/>
    </resultMap>

</mapper>