<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.otc.mapper.MarketApplyMapper">

    <sql id="table">otc_market_apply</sql>

    <resultMap id="MarketApplyMap" type="com.blockchain.server.otc.entity.MarketApply">
        <id property="id" column="id"/>
        <result property="applyType" column="apply_type"/>
        <result property="amount" column="amount"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="createTime" column="create_time"/>
        <result property="coinName" column="coin_name"/>
        <result property="userId" column="user_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectByUserIdAndApplyTypeAndStatus" resultMap="MarketApplyMap">
        SELECT * FROM
        <include refid="table"/>
        WHERE
        user_id = #{userId}
        AND apply_type = #{applyType}
        AND status = #{applyStatus}
    </select>

</mapper>