<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.otc.mapper.UserHandleLogMapper">
    <resultMap id="UserHandleLogMap" type="com.blockchain.server.otc.entity.UserHandleLog">
        <id property="id" column="id"/>
        <result property="handleType" column="handle_type"/>
        <result property="handleNumberType" column="handle_number_type"/>
        <result property="createTime" column="create_time"/>
        <result property="userId" column="user_id"/>
        <result property="handleNumber" column="handle_number"/>
    </resultMap>

</mapper>