<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.btc.mapper.BtcApplicationMapper">
	<resultMap id="BtcApplicationMap" type="com.blockchain.server.btc.dto.BtcApplicationDTO">
		<result property="appName" column="app_name"/>
		<result property="appId" column="app_id"/>
	</resultMap>

	<sql id="tableName">dapp_btc_application</sql>

	<select id="listApplication" resultMap="BtcApplicationMap">
		SELECT * FROM <include refid="tableName"/>
	</select>

</mapper>