<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.server.sysconf.mapper.AboutUsMapper">

    <sql id="tableName">conf_about_us</sql>

    <resultMap type="com.blockchain.server.sysconf.entity.AboutUs" id="AboutUsResult">
        <id     property="id"       column="id"      />
        <result property="content"      column="text_content"/>
        <result property="languages"    column="languages"   />
        <result property="createTime"   column="create_time"  />
        <result property="modifyTime"   column="modify_time"  />
    </resultMap>

    <select id="listAllOrderByCreateTimeDesc" resultMap="AboutUsResult">
        SELECT * FROM <include refid="tableName"/> ORDER BY create_time DESC
    </select>

    <select id="findNewestAboutUs" resultMap="AboutUsResult">
        SELECT * FROM <include refid="tableName"/> WHERE languages=#{languages} ORDER BY create_time DESC LIMIT 1
    </select>


</mapper>